.organization-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  border-radius: 15px ;
  background: #EFEFF1;
  padding: 5px 25px;
  & .organization-info-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  color: #11263C;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3629B7;
  line-height: 28px;
  margin-bottom: 15px;
  & .greetings {
    font-size: 24px;
    & span {
      font-weight: 600;
    }
  }
  & .date {
    display: flex;
    font-size: 18px;
    padding-left: 25px;
    justify-content: center;
    align-items: center;
    & span {
      margin-right: 5px;
      width: 22px;
      height: 22px;
      background: no-repeat url("/assets/img/calendar2.svg") center ;
    }
  }
}

.dashboard-main {

  border: solid 1px black;
  flex: 1 auto;
  & .dashboard-main-head {
    display: flex;
  }
}


