<div class="dashboard">
  <div class="dashboard-header">
    <div class="greetings">Welcome back <span>Mathew</span>!</div>
    <app-weather></app-weather>
    <div class="date">
      <span></span>
      {{todayDate | date:'EEE, dd LLL y'}}
    </div>
  </div>
  <div class="dashboard-main">
    <div class="dashboard-main-head">
      <div class="organization-info">
        <p>Your organization:</p>
        <div class="organization-info-body">
          <div>
            <p><b>Name:</b> Super-organization</p>
            <p><b>Number of apartments:</b> 5</p>
            <p><b>Number of residents:</b> 15</p>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
